.h11 {
    color: white;
    font-weight: bolder;
    font-size: 35px;
    padding-right: 30px;
    padding-left: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: rgb(45, 144, 144);
}

.div2 {
    display: inline-block;
    position: relative;
    left: 270px;
    width: 250px;


}

.a1{
    text-decoration:none;
    color:rgb(144, 142, 142);
    font-size: 20px;
    font-weight: 300;
  
  }
  li{
  padding-right: 7px;
  margin-right: 20px;
  font-size: 20PX;
    position: relative;
    display: inline-block;  
    text-decoration:none;
   
  }
h2 {
    font-weight: bolder;
    font-size: 30px;
    color: rgb(45, 144, 144);
    margin: 30px 0px 30px 49px;

}

.head {
    z-index: 1;
    width: 100%;
position: fixed;
    background-color: white;
    border-bottom: 1px solid gray;

}

body {
    background-image: url(./concrete_seamless.png)
}

.link {
    display: inline-block;
    position: absolute;
    right: 270px;
    top: 30px;
    line-height: 20px;
}

h3 {

    padding-top: 30px;
    text-align: center;
    font-weight: bolder;
    font-size: 22px;
    color: rgb(45, 144, 144);
}

.st {
    padding-top: 20px;
    height: 60px;
    padding-left: 43px;

}

.st1 {
    height: 60px;

}

.st2 {
    height: 60px;
}

.div1 {
    width: 250px;
    background-color: white;
    position: absolute;
    right: 250px;
    top: 127px;
    padding-bottom: 60px;
}

.div3 {
    background-color: white;
    left: 270px;
    position: absolute;
    width: 700px;
    height: 650px;
}

.sec1 {

    margin-top: 120px;
    display: inline-block;
    background-color: white;
    width: 700px;
    height: 500px;
    margin-left: 270px;
}

.hr1 {
    margin-left: 50px;
    margin-right: 30px;
}

.lab {
    color: rgb(101, 98, 98);

}

.form {
    margin-left: 30px;
    font-size: 25px;


}

.button {
    font-size: 20px;
    margin-left: 20px;
    color: white;
    background-color: rgb(45, 144, 144);
    width: 110px;
    height: 40px;
    border: 1px solid rgb(45, 144, 144);
}

.class input {
    width: 600px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}

.class label {
    margin-left: 20px;
    color: gray;
}

.class1 input {
    width: 600px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}

.class1 label {
    margin-left: 20px;
    color: gray;

}

.class2 label {
    font-size: 25px;
    margin-left: 20px;
    color: gray;
}

.class2 textarea {
    width: 620px;
    margin-left: 20px;
    height: 220px;
}

.foot {
    position: relative;
    text-align: center;
    border-top: 8px solid aqua;
    background-color: rgb(101, 98, 98);
      height: 90px;
    color: white;
    padding: 35px;
    margin-top: 20px;
    top:200px;

}

.hr2 {
    margin-top: 30px;
    margin-left: 43px;
    margin-right: 43px;
    color: rgb(144, 142, 142);

}
.link li+li::before{
    content: "";
    height: 7px;
    border-right: 1px solid gray;
    position: absolute;
    top:10px;
    left:-15px;
    
    }